# **Slides show**

Ici l'espace préparatoire pour alimenter la présentation des résultats.

# **Data blocks**

Le jeu de données porte sur $356\,255$ clients et comporte $219$ variables.

L'objectif de ce cahier est de déterminer les ensembles de données formant un tout cohérent d'éléments indissociables.

Le but est d'éviter de traiter individuellement $219$ variables, et de traiter par lot ZZZ ensembles de variables.



*Reprise de la démarche globale en effectuant une partition pertinente des données.*

*Pas de grande nouveauté, intégration des approches existantes en monographies autour de chaque groupe cohérent de variables.*

# Chiffres

## Nombre de clients

Il ne peut pas vraiment être déterminé puisque les clients ne sont pas individuellement identifiés dans le jeu de données.

En revanche, en supposant qu'un même client ne fait pas deux demandes de prêt simultanées, on peut s'approcher d'un chiffre.

Ce chiffre est le nombre de demandes actuelles augmenté du nombre de demandes passées qui ne correspondent pas à une demande actuelle rapporté au nombre médian de demandes par client calculé sur les demandes actuelles.

In [1]:
from home_credit.load import get_application, get_previous_application
from pepper.utils import bold
from pepper.univar import agg_value_counts

app = get_application()

print(f"{bold('n_unique')}(`application`.`SK_ID_CURR`): {app.SK_ID_CURR.nunique():n}")

prev_app = get_previous_application()
display(prev_app)

prev_app_by_curr = prev_app[["SK_ID_PREV", "SK_ID_CURR"]].groupby("SK_ID_CURR").agg("count")
# display(prev_app_by_curr)

print("n_prev_by_curr:")
display(agg_value_counts(prev_app_by_curr.SK_ID_PREV))

# demandes passées sans demande actuelle : ensemble vide, mais il fallait vérifier !
# c'est ce doit faire ressortie ma heatmap qui reste à produire
prev_app_without_app = prev_app[~prev_app.SK_ID_CURR.isin(app.SK_ID_CURR)]
display(prev_app_without_app)

load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\application_train.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\application_test.pqt
n_unique(`application`.`SK_ID_CURR`): 356 255
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\previous_application.pqt

RAW_PREVIOUS_APPLICATION,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670209,2300464,352015,Consumer loans,14704.290,267295.5,311400.0,0.0,267295.5,WEDNESDAY,12,...,Furniture,30.0,low_normal,POS industry with interest,365243.0,-508.0,362.0,-358.0,-351.0,0.0
1670210,2357031,334635,Consumer loans,6622.020,87750.0,64291.5,29250.0,87750.0,TUESDAY,15,...,Furniture,12.0,middle,POS industry with interest,365243.0,-1604.0,-1274.0,-1304.0,-1297.0,0.0
1670211,2659632,249544,Consumer loans,11520.855,105237.0,102523.5,10525.5,105237.0,MONDAY,12,...,Consumer electronics,10.0,low_normal,POS household with interest,365243.0,-1457.0,-1187.0,-1187.0,-1181.0,0.0
1670212,2785582,400317,Cash loans,18821.520,180000.0,191880.0,NaN,180000.0,WEDNESDAY,9,...,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-1155.0,-825.0,-825.0,-817.0,1.0
1670213,2418762,261212,Cash loans,16431.300,360000.0,360000.0,NaN,360000.0,SUNDAY,10,...,XNA,48.0,middle,Cash X-Sell: middle,365243.0,-1163.0,247.0,-443.0,-423.0,0.0

n_prev_by_curr:

            count  proportion
SK_ID_PREV
1           60458    0.178417
2           52737    0.155632
3           45966    0.135650
4           38159    0.112611
5           30886    0.091148
6           24588    0.072562
7           19216    0.056708
8           15085    0.044517
9           11627    0.034312
10           9063    0.026746
11           6854    0.020227
12           5214    0.015387
13           4099    0.012097
14           3206    0.009461
15           2385    0.007038
16           1876    0.005536
17           1518    0.004480
18           1129    0.003332
19            929    0.002742
20            736    0.002172
21:77        3126    0.009225

Empty DataFrame
Columns: [SK_ID_PREV, SK_ID_CURR, NAME_CONTRACT_TYPE, AMT_ANNUITY, AMT_APPLICATION, AMT_CREDIT, AMT_DOWN_PAYMENT, AMT_GOODS_PRICE, WEEKDAY_APPR_PROCESS_START, HOUR_APPR_PROCESS_START, FLAG_LAST_APPL_PER_CONTRACT, NFLAG_LAST_APPL_IN_DAY, RATE_DOWN_PAYMENT, RATE_INTEREST_PRIMARY, RATE_INTEREST_PRIVILEGED, NAME_CASH_LOAN_PURPOSE, NAME_CONTRACT_STATUS, DAYS_DECISION, NAME_PAYMENT_TYPE, CODE_REJECT_REASON, NAME_TYPE_SUITE, NAME_CLIENT_TYPE, NAME_GOODS_CATEGORY, NAME_PORTFOLIO, NAME_PRODUCT_TYPE, CHANNEL_TYPE, SELLERPLACE_AREA, NAME_SELLER_INDUSTRY, CNT_PAYMENT, NAME_YIELD_GROUP, PRODUCT_COMBINATION, DAYS_FIRST_DRAWING, DAYS_FIRST_DUE, DAYS_LAST_DUE_1ST_VERSION, DAYS_LAST_DUE, DAYS_TERMINATION, NFLAG_INSURED_ON_APPROVAL]
Index: []

[0 rows x 37 columns]

## Nombre de variables

Pour compter le nombre de variables, il faut :
1. exclure les tables `HomeCredit_columns_description` et `sample_submission` qui sont respectivement des métadonnées descriptives des variables du jeu de données, et une spécification opérationnelle du livrable attendu dans le cadre du challenge Kaggle.
2. ne pas compter deux fois les variables conjointes des tables `application_train` et `application_test` qui constituent une partition de la table `application` des demandes de prêt actuelles. Attention à la variable `TARGET` qui appraît uniquement dans `application_train`.

C'est la base de notre fonction `get_var_descs`, et c'est le choix initial de l'équipe Data de Home Credit.

In [ ]:
from home_credit.load import get_var_descs
var_descs = get_var_descs()
display(var_descs)

## Empreinte mémoire vive du jeu de données

In [4]:
from home_credit.utils import get_tables_dict
tables_dict = get_tables_dict()

In [27]:
from sys import getsizeof
import numpy as np
print(getsizeof(np.int8(1)))
print(getsizeof(np.int64(1)))

25
32

In [35]:
import pandas as pd
from pepper.utils import format_iB
mudts = []
for k, v in tables_dict.items():
    mudt = pd.concat([v.memory_usage(), v.dtypes], axis=1)
    mudt.loc["Index", 1] = v.index.dtype
    mudt.reset_index(inplace=True)
    mudt.columns = ["column", "bytes", "dtype"]
    mudt.insert(0, "table", k)
    mudt["bytes/n_samples"] = mudt.bytes / v.shape[0]
    mudts.append(mudt)
mudts = pd.concat(mudts, axis=0, ignore_index=True)
display(mudts)
bytes_tot = mudts.bytes.sum()
print(f"{bytes_tot:n}")
print("total memory usage:", *format_iB(bytes_tot))

,table,column,bytes,dtype,bytes/n_samples
0,application,Index,128,int64,0.000359
1,application,SK_ID_CURR,2850040,int64,8.000000
2,application,TARGET,2850040,int64,8.000000
3,application,NAME_CONTRACT_TYPE,2850040,object,8.000000
4,application,CODE_GENDER,2850040,object,8.000000
...,...,...,...,...,...
220,installments_payments,NUM_INSTALMENT_NUMBER,108843208,int64,8.000000
221,installments_payments,DAYS_INSTALMENT,108843208,float64,8.000000
222,installments_payments,DAYS_ENTRY_PAYMENT,108843208,float64,8.000000
223,installments_payments,AMT_INSTALMENT,108843208,float64,8.000000
224,installments_payments,AMT_PAYMENT,108843208,float64,8.000000

3 948 171 512
total memory usage: 3.677 GiB

# Nombre de groupes de variables

* Pour slides
* ZZZ
* tableau des vars -> également au format GSheet
* ajout des noms EN et FR intelligibles
* partition des préfixes
* transformations (types) + etc +
* liste des catégories pour n_cats < seuil
    * + un fichier saved
    => en dériver la table synthétique pour slides
* Notions, catégories latentes : les identifier (manuellement, pas le temps de faire un LDA a priori, sinon en finition samedi) : Family, Work, Income

On repart de `dataset_overview.ipynb`, section "Qualité des données : nature (métier) et type (technique)" :
1. Réassembler l'ensemble des colonnes et filtrer.
2. déterminer les types techniques et les types métiers
3. parser les noms, traduction en français ? 

Quelques idées également dans `experiments/analyse_expl.ipynb` qui contient notamment l'export vers GSheet.

Faire comme d'hab : des fonctions cleans de référence en capitalisant, et en remplaçant au fur et à mesure l'existant.

Let's code!

## Analyse discrète de l'ensemble des variables

Commençons par constituer un dictionnaire des données (346 variables).

Il nous sera utile pour la suite de cette analyse.

### Création du dictionnaire des tables chargées

In [11]:
from home_credit.load import get_raw_table_names, load_raw_table
table_dict = {
    table_name: load_raw_table(table_name)
    for table_name in get_raw_table_names()
}

load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\application_test.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\application_train.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\bureau.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\bureau_balance.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\credit_card_balance.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\HomeCredit_columns_description.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\installments_payments.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\POS_CASH_balance.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\previous_application.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\sample_submission.pqt

### Extraction des statistiques discrètes pour l'ensemble des variables..

.. sur l'ensemble des tables

In [12]:
from pepper.db_utils import db_discrete_stats
variables = db_discrete_stats(table_dict)
display(variables)

,table_name,col,n,n_u,n_na,Filling rate,Shannon entropy,dtypes
0,application_test,SK_ID_CURR,48744,48744,0,1.000000,1.000000,int64
1,application_test,NAME_CONTRACT_TYPE,48744,2,0,1.000000,0.000041,object
2,application_test,CODE_GENDER,48744,2,0,1.000000,0.000041,object
3,application_test,FLAG_OWN_CAR,48744,2,0,1.000000,0.000041,object
4,application_test,FLAG_OWN_REALTY,48744,2,0,1.000000,0.000041,object
...,...,...,...,...,...,...,...,...
341,previous_application,DAYS_LAST_DUE,997149,2873,673065,0.597019,0.002881,float64
342,previous_application,DAYS_TERMINATION,997149,2830,673065,0.597019,0.002838,float64
343,previous_application,NFLAG_INSURED_ON_APPROVAL,997149,2,673065,0.597019,0.000002,float64
344,sample_submission,SK_ID_CURR,48744,48744,0,1.000000,1.000000,int64
345,sample_submission,TARGET,48744,1,0,1.000000,0.000021,float64

## Variables documentées et non documentées

Croisons avec la table de description pour identifier celles qui ne sont pas documentées et inversement :

In [13]:
from home_credit.load import get_columns_description
col_descs = get_columns_description()  # TODO : une révision + docstring
display(col_descs)

col_descs,Table,Column,Description,Special
col_id,,,,
1,application_{train|test},SK_ID_CURR,ID of loan in our sample,None
2,application_{train|test},TARGET,Target variable (1 - client with payment diffi...,None
5,application_{train|test},NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,None
6,application_{train|test},CODE_GENDER,Gender of the client,None
7,application_{train|test},FLAG_OWN_CAR,Flag if the client owns a car,None
...,...,...,...,...
217,installments_payments,NUM_INSTALMENT_NUMBER,On which installment we observe payment,None
218,installments_payments,DAYS_INSTALMENT,When the installment of previous credit was su...,time only relative to the application
219,installments_payments,DAYS_ENTRY_PAYMENT,When was the installments of previous credit p...,time only relative to the application
220,installments_payments,AMT_INSTALMENT,What was the prescribed installment amount of ...,None
221,installments_payments,AMT_PAYMENT,What the client actually paid on previous cred...,None

On récupère le couple `(table_name, col)` pour chaque variable listée par `db_discrete_stats(table_dict)`, après avoir dédoublonner les occurrences doubles aux noms de tables `application_train` et `application_test`.

Notons au passage que cette fonction `db_discrete_stats(table_dict)` est une bonne base pour la suite, à savoir le dictionnaire étendu et intégré des données qui permet entre autres de répondre à la question du nombre de ZZZ.

In [14]:
# Get the (table name, col name) couples
comp_vars = variables[variables.columns[:2]].copy()
# Lowercase and remove _train and _test suffixes
comp_vars.table_name = (
    comp_vars.table_name
    .str.lower()
    .str.replace("_(train|test)", "", regex=True)
)
# Remove _train|_test duplicates
comp_vars.drop_duplicates(inplace=True, ignore_index=True)
# One column join
comp_var_keys = comp_vars.apply(tuple, axis=1)
display(comp_var_keys)

0                              (application, SK_ID_CURR)
1                      (application, NAME_CONTRACT_TYPE)
2                             (application, CODE_GENDER)
3                            (application, FLAG_OWN_CAR)
4                         (application, FLAG_OWN_REALTY)
                             ...
220                (previous_application, DAYS_LAST_DUE)
221             (previous_application, DAYS_TERMINATION)
222    (previous_application, NFLAG_INSURED_ON_APPROVAL)
223                      (sample_submission, SK_ID_CURR)
224                          (sample_submission, TARGET)
Length: 225, dtype: object

Démarche identique du côté des descriptions de la table `HomeCredit_columns_description` (l'élimination des doublons a été placée là par sécurité lors de la découverte du jeu de donnée, mais elle est sans effet, donc inutile en pratique).

In [15]:
# Get the (table name, col name) couples
comp_descs = col_descs[col_descs.columns[:2]].copy()
# Remove _train and _test suffixes
comp_descs.Table = comp_descs.Table.str.replace("_{train|test}", "", regex=False)
# Remove _train|_test duplicates
comp_descs.drop_duplicates(inplace=True, ignore_index=True)
# One column join
comp_desc_keys = comp_descs.apply(tuple, axis=1)
display(comp_desc_keys)

col_id
1                           (application, SK_ID_CURR)
2                               (application, TARGET)
5                   (application, NAME_CONTRACT_TYPE)
6                          (application, CODE_GENDER)
7                         (application, FLAG_OWN_CAR)
                            ...
217    (installments_payments, NUM_INSTALMENT_NUMBER)
218          (installments_payments, DAYS_INSTALMENT)
219       (installments_payments, DAYS_ENTRY_PAYMENT)
220           (installments_payments, AMT_INSTALMENT)
221              (installments_payments, AMT_PAYMENT)
Length: 219, dtype: object

Non documentées : les variables de la documentation et celles de l'exemple de soumission, rien d'anormal.

In [11]:
vars_without_desc = comp_var_keys[~comp_var_keys.isin(comp_desc_keys)]
display(vars_without_desc)

165     (homecredit_columns_description, Unnamed: 0)
166          (homecredit_columns_description, Table)
167            (homecredit_columns_description, Row)
168    (homecredit_columns_description, Description)
169        (homecredit_columns_description, Special)
223                  (sample_submission, SK_ID_CURR)
224                      (sample_submission, TARGET)
dtype: object

Documentée mais inexistante : surprise !

In [12]:
descs_without_car = comp_desc_keys[~comp_desc_keys.isin(comp_var_keys)]
display(descs_without_car)

185    (previous_application, NFLAG_MICRO_CASH)
dtype: object

In [13]:
from home_credit.utils import help_cols
help_cols("NFLAG_MICRO_CASH")

|Table|Column|Description|Special|
|-|-|-|-|
|previous_application|NFLAG_MICRO_CASH|Flag Micro finance loan|_|

## `help_cols` v2

Plusieurs choses à revoir sur `help_cols` :
* ✔ y intégrer ce qu'on a fait plus haut, notamment le retrait des doublons
* ✔ uniformiser les arguments : pour colonne, c'est aussi un pattern regex, aucune raison de faire différent des autres arguments.
* Forme plus dense et lisible :
    * Factorisation et fusion de l'identique " " "
    * En particulier, fusion vertical de n fois la même valeur répétée dans une colonne
    * En particulier, factorisation de la partie conjointe de texte de desciption :
        * division de la colonne de description avec parties préfixe, infixe, suffixe
            * Ex. 'ID of loan in our sample' en prréfixe commun ci-dessous, et 'one loan in our sample can have 0,1,2 or more related previous credits in credit bureau' en infixe uniquement pour la table `bureau`
* Intégration optionnelle d'informations étendues
    * La colonne `Special` dans le jeu de colonnes de base
    * Toutes les informations complémentaires sur les variables issues du merge avec les statistiques discrètes et continues : on approche du ZZZ

In [17]:
from home_credit.utils import help_cols, help_cols_v2
help_cols("NFLAG_MICRO_CASH")
help_cols_v2("NFLAG_MICRO_CASH")

|Table|Column|Description|Special|
|-|-|-|-|
|previous_application|NFLAG_MICRO_CASH|Flag Micro finance loan|_|

|Table|Column|Description|Special|
|-|-|-|-|
|previous_application|NFLAG_MICRO_CASH|Flag Micro finance loan|_|

In [18]:
from home_credit.utils import help_cols, help_cols_v2
help_cols("NFLAG")
help_cols_v2("NFLAG")
help_cols_v2(".*MICRO")

|Table|Column|Description|Special|
|-|-|-|-|

|Table|Column|Description|Special|
|-|-|-|-|
|previous_application|NFLAG_LAST_APPL_IN_DAY|Flag if the application was the last application per day of the client. Sometimes clients apply for more applications a day. Rarely it could also be error in our system that one application is in the database twice|_|
|previous_application|NFLAG_MICRO_CASH|Flag Micro finance loan|_|
|previous_application|NFLAG_INSURED_ON_APPROVAL|Did the client requested insurance during the previous application|_|

|Table|Column|Description|Special|
|-|-|-|-|
|previous_application|NFLAG_MICRO_CASH|Flag Micro finance loan|_|

In [19]:
from home_credit.utils import help_cols, help_cols_v2
help_cols("SK_ID_CURR")
help_cols_v2("SK_ID_CURR")

|Table|Column|Description|Special|
|-|-|-|-|
|application_{train\|test}|SK_ID_CURR|ID of loan in our sample|_|
|bureau|SK_ID_CURR|ID of loan in our sample - one loan in our sample can have 0,1,2 or more related previous credits in credit bureau |hashed|
|pos_cash_balance|SK_ID_CURR|ID of loan in our sample|_|
|credit_card_balance|SK_ID_CURR|ID of loan in our sample|hashed|
|previous_application|SK_ID_CURR|ID of loan in our sample|hashed|
|installments_payments|SK_ID_CURR|ID of loan in our sample|hashed|

|Table|Column|Description|Special|
|-|-|-|-|
|application|SK_ID_CURR|ID of loan in our sample|_|
|bureau|SK_ID_CURR|ID of loan in our sample - one loan in our sample can have 0,1,2 or more related previous credits in credit bureau |hashed|
|pos_cash_balance|SK_ID_CURR|ID of loan in our sample|_|
|credit_card_balance|SK_ID_CURR|ID of loan in our sample|hashed|
|previous_application|SK_ID_CURR|ID of loan in our sample|hashed|
|installments_payments|SK_ID_CURR|ID of loan in our sample|hashed|

## Fusion de description et des stats discrètes

D'abord, nous ne travaillons plus, comme dans la version brute ci-dessus, avec les tables meta (descriptions, soumission), et substituons aux deux tables `application_train` et `application_test` une table `application` unique.

In [1]:
from home_credit.utils import get_tables_dict
table_dict = get_tables_dict()

load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\application_train.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\application_test.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\bureau.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\previous_application.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\bureau_balance.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\POS_CASH_balance.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\credit_card_balance.pqt
load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\installments_payments.pqt

In [7]:
# TODO index des tables elle-mêmes :
# - utils.get_column_types_dist
# - les définitions d'ensemble
# - données synthétiques
from pepper.db_utils import db_discrete_stats
var_dstats = db_discrete_stats(table_dict)
display(var_dstats)

,table_name,col,n,n_u,n_na,Filling rate,Shannon entropy,dtypes
0,application,SK_ID_CURR,356255,356255,0,1.000000,1.000000,int64
1,application,TARGET,356255,3,0,1.000000,0.000008,int64
2,application,NAME_CONTRACT_TYPE,356255,2,0,1.000000,0.000006,object
3,application,CODE_GENDER,356255,3,0,1.000000,0.000008,object
4,application,FLAG_OWN_CAR,356255,2,0,1.000000,0.000006,object
...,...,...,...,...,...,...,...,...
213,installments_payments,NUM_INSTALMENT_NUMBER,13605401,277,0,1.000000,0.000020,int64
214,installments_payments,DAYS_INSTALMENT,13605401,2922,0,1.000000,0.000215,float64
215,installments_payments,DAYS_ENTRY_PAYMENT,13602496,3039,2905,0.999786,0.000223,float64
216,installments_payments,AMT_INSTALMENT,13605401,902539,0,1.000000,0.066337,float64
217,installments_payments,AMT_PAYMENT,13602496,944235,2905,0.999786,0.069416,float64

In [8]:
display(var_dstats.table_name.unique())

array(['application', 'bureau', 'previous_application', 'bureau_balance',
       'pos_cash_balance', 'credit_card_balance', 'installments_payments'],
      dtype=object)

In [4]:
from home_credit.utils import get_column_types_dist
for table_name, table in table_dict.items():
    print(table_name, get_column_types_dist(table))

application [('SK', 1), ('FLAG', 28), ('NAME', 6), ('DAYS', 5), ('CNT', 2), ('AMT', 10), ('APARTMENTS', 3), ('BASEMENTAREA', 3), ('CODE', 1), ('COMMONAREA', 3), ('DEF', 2), ('ELEVATORS', 3), ('EMERGENCYSTATE', 1), ('ENTRANCES', 3), ('EXT', 3), ('FLOORSMAX', 3), ('FLOORSMIN', 3), ('FONDKAPREMONT', 1), ('HOUR', 1), ('HOUSETYPE', 1), ('LANDAREA', 3), ('LIVE', 2), ('LIVINGAPARTMENTS', 3), ('LIVINGAREA', 3), ('NONLIVINGAPARTMENTS', 3), ('NONLIVINGAREA', 3), ('OBS', 2), ('OCCUPATION', 1), ('ORGANIZATION', 1), ('OWN', 1), ('REG', 4), ('REGION', 3), ('TARGET', 1), ('TOTALAREA', 1), ('WALLSMATERIAL', 1), ('WEEKDAY', 1), ('YEARS', 6)]
bureau [('SK', 2), ('DAYS', 4), ('CNT', 1), ('AMT', 6), ('CREDIT', 4)]
previous_application [('SK', 2), ('FLAG', 1), ('NFLAG', 2), ('NAME', 11), ('DAYS', 6), ('CNT', 1), ('AMT', 5), ('CHANNEL', 1), ('CODE', 1), ('HOUR', 1), ('PRODUCT', 1), ('RATE', 3), ('SELLERPLACE', 1), ('WEEKDAY', 1)]
bureau_balance [('SK', 1), ('MONTHS', 1), ('STATUS', 1)]
pos_cash_balance [('SK', 4), ('NAME', 1), ('CNT', 2), ('MONTHS', 1)]
credit_card_balance [('SK', 4), ('NAME', 1), ('CNT', 5), ('AMT', 12), ('MONTHS', 1)]
installments_payments [('SK', 2), ('NUM', 2), ('DAYS', 2), ('AMT', 2)]

Combinaison descs | stats

In [5]:
from home_credit.utils import get_variables_description
var_descs = get_variables_description()
display(var_descs)

load C:\Users\franc\Projects\pepper_credit_scoring_tool\dataset\pqt\HomeCredit_columns_description.pqt

col_descs,Table,Column,Description,Special
col_id,,,,
1,application,SK_ID_CURR,ID of loan in our sample,None
2,application,TARGET,Target variable (1 - client with payment diffi...,None
5,application,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,None
6,application,CODE_GENDER,Gender of the client,None
7,application,FLAG_OWN_CAR,Flag if the client owns a car,None
...,...,...,...,...
217,installments_payments,NUM_INSTALMENT_NUMBER,On which installment we observe payment,None
218,installments_payments,DAYS_INSTALMENT,When the installment of previous credit was su...,time only relative to the application
219,installments_payments,DAYS_ENTRY_PAYMENT,When was the installments of previous credit p...,time only relative to the application
220,installments_payments,AMT_INSTALMENT,What was the prescribed installment amount of ...,None
221,installments_payments,AMT_PAYMENT,What the client actually paid on previous cred...,None

In [12]:
import pandas as pd

var_infos = pd.merge(
    var_dstats, var_descs,
    left_on=["table_name", "col"],
    right_on=["Table", "Column"]
)
var_infos.drop(columns=["Table", "Column"], inplace=True)
display(var_infos)

,table_name,col,n,n_u,n_na,Filling rate,Shannon entropy,dtypes,Description,Special
0,application,SK_ID_CURR,356255,356255,0,1.000000,1.000000,int64,ID of loan in our sample,None
1,application,TARGET,356255,3,0,1.000000,0.000008,int64,Target variable (1 - client with payment diffi...,None
2,application,NAME_CONTRACT_TYPE,356255,2,0,1.000000,0.000006,object,Identification if loan is cash or revolving,None
3,application,CODE_GENDER,356255,3,0,1.000000,0.000008,object,Gender of the client,None
4,application,FLAG_OWN_CAR,356255,2,0,1.000000,0.000006,object,Flag if the client owns a car,None
...,...,...,...,...,...,...,...,...,...,...
213,installments_payments,NUM_INSTALMENT_NUMBER,13605401,277,0,1.000000,0.000020,int64,On which installment we observe payment,None
214,installments_payments,DAYS_INSTALMENT,13605401,2922,0,1.000000,0.000215,float64,When the installment of previous credit was su...,time only relative to the application
215,installments_payments,DAYS_ENTRY_PAYMENT,13602496,3039,2905,0.999786,0.000223,float64,When was the installments of previous credit p...,time only relative to the application
216,installments_payments,AMT_INSTALMENT,13605401,902539,0,1.000000,0.066337,float64,What was the prescribed installment amount of ...,None
217,installments_payments,AMT_PAYMENT,13602496,944235,2905,0.999786,0.069416,float64,What the client actually paid on previous cred...,None

## Découpage des noms des variables

Et surtout les types métiers

On touche au but : ZZZ

In [7]:
var_names = variables.col
display(var_names)
split_var_names = var_names.str.split(pat="_", expand=True)
display(split_var_names)

0                 SK_ID_CURR
1                     TARGET
2         NAME_CONTRACT_TYPE
3                CODE_GENDER
4               FLAG_OWN_CAR
               ...
213    NUM_INSTALMENT_NUMBER
214          DAYS_INSTALMENT
215       DAYS_ENTRY_PAYMENT
216           AMT_INSTALMENT
217              AMT_PAYMENT
Name: col, Length: 218, dtype: object

          0           1        2     3     4
0        SK          ID     CURR  None  None
1    TARGET        None     None  None  None
2      NAME    CONTRACT     TYPE  None  None
3      CODE      GENDER     None  None  None
4      FLAG         OWN      CAR  None  None
..      ...         ...      ...   ...   ...
213     NUM  INSTALMENT   NUMBER  None  None
214    DAYS  INSTALMENT     None  None  None
215    DAYS       ENTRY  PAYMENT  None  None
216     AMT  INSTALMENT     None  None  None
217     AMT     PAYMENT     None  None  None

[218 rows x 5 columns]

Tout ce qui est en colonne 0..

In [8]:
display(split_var_names[0].unique())

array(['SK', 'TARGET', 'NAME', 'CODE', 'FLAG', 'CNT', 'AMT', 'REGION',
       'DAYS', 'OWN', 'OCCUPATION', 'WEEKDAY', 'HOUR', 'REG', 'LIVE',
       'ORGANIZATION', 'EXT', 'APARTMENTS', 'BASEMENTAREA', 'YEARS',
       'COMMONAREA', 'ELEVATORS', 'ENTRANCES', 'FLOORSMAX', 'FLOORSMIN',
       'LANDAREA', 'LIVINGAPARTMENTS', 'LIVINGAREA',
       'NONLIVINGAPARTMENTS', 'NONLIVINGAREA', 'FONDKAPREMONT',
       'HOUSETYPE', 'TOTALAREA', 'WALLSMATERIAL', 'EMERGENCYSTATE', 'OBS',
       'DEF', 'CREDIT', 'NFLAG', 'RATE', 'CHANNEL', 'SELLERPLACE',
       'PRODUCT', 'MONTHS', 'STATUS', 'NUM'], dtype=object)

n'est pas nécessairement un préfixe.

Contrexemple 1 : les variables en un seul mot :

In [15]:
display(var_names[split_var_names[1].isnull()].to_numpy())

array(['TARGET', 'STATUS'], dtype=object)

Contrexemple 2 : les variables de suffixe `AVG`, `MEDI` ou `MODE` :

In [16]:
display(var_names[split_var_names[1].isin(["AVG", "MEDI", "MODE"])].to_numpy())

array(['APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'COMMONAREA_AVG',
       'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG',
       'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE',
       'BASEMENTAREA_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
       'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE',
       'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
       'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'COMMONAREA_MEDI',
       'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI',
       'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI',
       'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
       'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE',
       'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'],
      dtype=object)

En l'état, la table n'est pas très pratique à utiliser.

Il s'agit de la transformer en une table avec 3 colonnes, `prefix`, `infix`, `suffix`.

Dans les deux contrexemples précédents, `prefix` est None et pour le premier, `suffix` également.

In [23]:
n_words = (~split_var_names.isnull()).sum(axis=1)
for i in range(5):
    print(f"vars of {i+1} words:")
    display(var_names[n_words == i+1].to_numpy())

vars of 1 words:

array(['TARGET', 'STATUS'], dtype=object)

vars of 2 words:

array(['CODE_GENDER', 'CNT_CHILDREN', 'AMT_CREDIT', 'AMT_ANNUITY',
       'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'FLAG_MOBIL',
       'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'ORGANIZATION_TYPE',
       'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'COMMONAREA_AVG',
       'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG',
       'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE',
       'BASEMENTAREA_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
       'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE',
       'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
       'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'COMMONAREA_MEDI',
       'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI',
       'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI',
       'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
       'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE',
       'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE',
       'CREDIT_ACTIVE', 'CREDIT_CURRENCY', 'DAYS_CREDIT', 'CREDIT_TYPE',
       'AMT_ANNUITY', 'AMT_ANNUITY', 'AMT_APPLICATION', 'AMT_CREDIT',
       'DAYS_DECISION', 'NAME_PORTFOLIO', 'CHANNEL_TYPE',
       'SELLERPLACE_AREA', 'CNT_PAYMENT', 'PRODUCT_COMBINATION',
       'DAYS_TERMINATION', 'MONTHS_BALANCE', 'MONTHS_BALANCE',
       'CNT_INSTALMENT', 'SK_DPD', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_RECIVABLE', 'SK_DPD', 'DAYS_INSTALMENT', 'AMT_INSTALMENT',
       'AMT_PAYMENT'], dtype=object)

vars of 3 words:

array(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'AMT_INCOME_TOTAL', 'AMT_GOODS_PRICE',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE',
       'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
       'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'EXT_SOURCE_1',
       'EXT_SOURCE_2', 'EXT_SOURCE_3', 'YEARS_BEGINEXPLUATATION_AVG',
       'YEARS_BUILD_AVG', 'YEARS_BEGINEXPLUATATION_MODE',
       'YEARS_BUILD_MODE', 'YEARS_BEGINEXPLUATATION_MEDI',
       'YEARS_BUILD_MEDI', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_DAY_OVERDUE',
       'DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'DAYS_CREDIT_UPDATE', 'SK_ID_PREV', 'SK_ID_CURR',
       'NAME_CONTRACT_TYPE', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE',
       'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY',
       'RATE_INTEREST_PRIVILEGED', 'NAME_CONTRACT_STATUS',
       'NAME_PAYMENT_TYPE', 'CODE_REJECT_REASON', 'NAME_TYPE_SUITE',
       'NAME_CLIENT_TYPE', 'NAME_GOODS_CATEGORY', 'NAME_PRODUCT_TYPE',
       'NAME_SELLER_INDUSTRY', 'NAME_YIELD_GROUP', 'DAYS_FIRST_DRAWING',
       'DAYS_FIRST_DUE', 'DAYS_LAST_DUE', 'SK_ID_BUREAU', 'SK_ID_PREV',
       'SK_ID_CURR', 'CNT_INSTALMENT_FUTURE', 'NAME_CONTRACT_STATUS',
       'SK_DPD_DEF', 'SK_ID_PREV', 'SK_ID_CURR', 'AMT_DRAWINGS_CURRENT',
       'AMT_PAYMENT_CURRENT', 'AMT_RECEIVABLE_PRINCIPAL',
       'AMT_TOTAL_RECEIVABLE', 'CNT_DRAWINGS_CURRENT',
       'NAME_CONTRACT_STATUS', 'SK_DPD_DEF', 'SK_ID_PREV', 'SK_ID_CURR',
       'NUM_INSTALMENT_VERSION', 'NUM_INSTALMENT_NUMBER',
       'DAYS_ENTRY_PAYMENT'], dtype=object)

vars of 4 words:

array(['WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'DAYS_LAST_PHONE_CHANGE', 'AMT_CREDIT_MAX_OVERDUE',
       'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'WEEKDAY_APPR_PROCESS_START',
       'HOUR_APPR_PROCESS_START', 'NAME_CASH_LOAN_PURPOSE',
       'NFLAG_INSURED_ON_APPROVAL', 'AMT_CREDIT_LIMIT_ACTUAL',
       'AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_TOTAL_CURRENT', 'CNT_DRAWINGS_ATM_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM'], dtype=object)

vars of 5 words:

array(['REGION_RATING_CLIENT_W_CITY', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'FLAG_LAST_APPL_PER_CONTRACT',
       'NFLAG_LAST_APPL_IN_DAY', 'DAYS_LAST_DUE_1ST_VERSION'],
      dtype=object)

In [36]:
import pandas as pd
n_words = (~split_var_names.isnull()).sum(axis=1)
for i in range(5):
    print(f"vars of {i+1} words:")
    raw = split_var_names[n_words == i+1]
    if i == 0:
        new = raw[[0]].copy()
        new.columns = ["SPECIAL"]
        display(new)
    elif i == 1:
        new = raw[[0, 1]].copy()
        new.columns = ["TYPE", "OBJECT"]
        new.sort_values(by="TYPE")
        display(new.T)
    elif i == 1:
        new = raw[[2, 0, 1, 3, 4]].copy()
        new.columns = ["PFX__", "PFX_", "IFX", "_SFX", "__SFX"]
        display(new)
    else:
        display(raw)



    #display(var_names[n_words == i+1].to_numpy())

vars of 1 words:

    SPECIAL
1    TARGET
178  STATUS

vars of 2 words:

,3,6,8,9,17,18,19,22,26,27,...,181,182,185,189,190,200,208,214,216,217
TYPE,CODE,CNT,AMT,AMT,DAYS,DAYS,DAYS,FLAG,FLAG,FLAG,...,MONTHS,CNT,SK,MONTHS,AMT,AMT,SK,DAYS,AMT,AMT
OBJECT,GENDER,CHILDREN,CREDIT,ANNUITY,BIRTH,EMPLOYED,REGISTRATION,MOBIL,PHONE,EMAIL,...,BALANCE,INSTALMENT,DPD,BALANCE,BALANCE,RECIVABLE,DPD,INSTALMENT,INSTALMENT,PAYMENT

vars of 3 words:

        0           1        2     3     4
0      SK          ID     CURR  None  None
2    NAME    CONTRACT     TYPE  None  None
4    FLAG         OWN      CAR  None  None
5    FLAG         OWN   REALTY  None  None
7     AMT      INCOME    TOTAL  None  None
..    ...         ...      ...   ...   ...
210    SK          ID     PREV  None  None
211    SK          ID     CURR  None  None
212   NUM  INSTALMENT  VERSION  None  None
213   NUM  INSTALMENT   NUMBER  None  None
215  DAYS       ENTRY  PAYMENT  None  None

[96 rows x 5 columns]

vars of 4 words:

           0           1        2           3     4
32   WEEKDAY        APPR  PROCESS       START  None
33      HOUR        APPR  PROCESS       START  None
95      DAYS        LAST    PHONE      CHANGE  None
130      AMT      CREDIT      MAX     OVERDUE  None
133      AMT      CREDIT      SUM        DEBT  None
134      AMT      CREDIT      SUM       LIMIT  None
135      AMT      CREDIT      SUM     OVERDUE  None
147  WEEKDAY        APPR  PROCESS       START  None
148     HOUR        APPR  PROCESS       START  None
154     NAME        CASH     LOAN     PURPOSE  None
175    NFLAG     INSURED       ON    APPROVAL  None
191      AMT      CREDIT    LIMIT      ACTUAL  None
192      AMT    DRAWINGS      ATM     CURRENT  None
194      AMT    DRAWINGS    OTHER     CURRENT  None
195      AMT    DRAWINGS      POS     CURRENT  None
196      AMT        INST      MIN  REGULARITY  None
198      AMT     PAYMENT    TOTAL     CURRENT  None
202      CNT    DRAWINGS      ATM     CURRENT  None
204      CNT    DRAWINGS    OTHER     CURRENT  None
205      CNT    DRAWINGS      POS     CURRENT  None
206      CNT  INSTALMENT   MATURE         CUM  None

vars of 5 words:

          0       1       2       3         4
31   REGION  RATING  CLIENT       W      CITY
34      REG  REGION     NOT    LIVE    REGION
35      REG  REGION     NOT    WORK    REGION
36     LIVE  REGION     NOT    WORK    REGION
37      REG    CITY     NOT    LIVE      CITY
38      REG    CITY     NOT    WORK      CITY
39     LIVE    CITY     NOT    WORK      CITY
91      OBS      30     CNT  SOCIAL    CIRCLE
92      DEF      30     CNT  SOCIAL    CIRCLE
93      OBS      60     CNT  SOCIAL    CIRCLE
94      DEF      60     CNT  SOCIAL    CIRCLE
116     AMT     REQ  CREDIT  BUREAU      HOUR
117     AMT     REQ  CREDIT  BUREAU       DAY
118     AMT     REQ  CREDIT  BUREAU      WEEK
119     AMT     REQ  CREDIT  BUREAU       MON
120     AMT     REQ  CREDIT  BUREAU       QRT
121     AMT     REQ  CREDIT  BUREAU      YEAR
149    FLAG    LAST    APPL     PER  CONTRACT
150   NFLAG    LAST    APPL      IN       DAY
172    DAYS    LAST     DUE     1ST   VERSION

## Groupes de variables (ZZZ)

In [22]:
import pandas as pd

var_infos.rename(columns={"table_name": "Table", "col": "Variable"}, inplace=True)
#display(var_infos)

split_var_names = var_infos.Variable.str.split(pat="_", expand=True)
split_var_names.columns = [f"WORD_{i}" for i in range(5)]
#display(split_var_names)

var_infos_ = pd.concat([var_infos, split_var_names], axis=1)
display(var_infos_)

,Table,Variable,n,n_u,n_na,Filling rate,Shannon entropy,dtypes,Description,Special,WORD_0,WORD_1,WORD_2,WORD_3,WORD_4
0,application,SK_ID_CURR,356255,356255,0,1.000000,1.000000,int64,ID of loan in our sample,None,SK,ID,CURR,None,None
1,application,TARGET,356255,3,0,1.000000,0.000008,int64,Target variable (1 - client with payment diffi...,None,TARGET,None,None,None,None
2,application,NAME_CONTRACT_TYPE,356255,2,0,1.000000,0.000006,object,Identification if loan is cash or revolving,None,NAME,CONTRACT,TYPE,None,None
3,application,CODE_GENDER,356255,3,0,1.000000,0.000008,object,Gender of the client,None,CODE,GENDER,None,None,None
4,application,FLAG_OWN_CAR,356255,2,0,1.000000,0.000006,object,Flag if the client owns a car,None,FLAG,OWN,CAR,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,installments_payments,NUM_INSTALMENT_NUMBER,13605401,277,0,1.000000,0.000020,int64,On which installment we observe payment,None,NUM,INSTALMENT,NUMBER,None,None
214,installments_payments,DAYS_INSTALMENT,13605401,2922,0,1.000000,0.000215,float64,When the installment of previous credit was su...,time only relative to the application,DAYS,INSTALMENT,None,None,None
215,installments_payments,DAYS_ENTRY_PAYMENT,13602496,3039,2905,0.999786,0.000223,float64,When was the installments of previous credit p...,time only relative to the application,DAYS,ENTRY,PAYMENT,None,None
216,installments_payments,AMT_INSTALMENT,13605401,902539,0,1.000000,0.066337,float64,What was the prescribed installment amount of ...,None,AMT,INSTALMENT,None,None,None
217,installments_payments,AMT_PAYMENT,13602496,944235,2905,0.999786,0.069416,float64,What the client actually paid on previous cred...,None,AMT,PAYMENT,None,None,None

Pour constituer la liste définitive des groupes de variables, procédons cf.

```Python
get_column_types_dist..
    priority = {
        "SK": 0, "FLAG":1, "NFLAG":2, "NAME": 3, "NUM":4,
        "DAYS":5, "CNT": 6, "AMT": 7, "MONTHS": 8
    }
```

et utilisons la méthode d'élimination cf. `dataset_overview.ipynb`

### Groupe métier `HOUSING_PROFILE` : `_(AVG|MEDI|MODE)`

In [3]:
from home_credit.utils import get_variables_infos

var_infos = get_variables_infos()

def _get_pat(group_name):
    pat_map = {
        "HOUSING_PROFILE": ".*_(AVG|MEDI|MODE)"
    }
    return pat_map.get(group_name)

def get_variables_description(group_name):
    pat = _get_pat(group_name)
    # TODO : mettre dans le cache
    var_infos = get_variables_infos()
    mask = var_infos.Variable.str.match(pat)
    return var_infos[mask]
    

display(get_variables_description("HOUSING_PROFILE"))

,Table,Variable,n,n_u,n_na,Filling rate,Shannon entropy,dtypes,Description,Special,WORD_0,WORD_1,WORD_2,WORD_3,WORD_4
44,application,APARTMENTS_AVG,176307,2391,179948,0.494890,0.013562,float64,Normalized information about building where th...,normalized,APARTMENTS,AVG,None,None,None
45,application,BASEMENTAREA_AVG,148671,3831,207584,0.417316,0.025768,float64,Normalized information about building where th...,normalized,BASEMENTAREA,AVG,None,None,None
46,application,YEARS_BEGINEXPLUATATION_AVG,183392,294,172863,0.514777,0.001603,float64,Normalized information about building where th...,normalized,YEARS,BEGINEXPLUATATION,AVG,None,None
47,application,YEARS_BUILD_AVG,119949,149,236306,0.336694,0.001242,float64,Normalized information about building where th...,normalized,YEARS,BUILD,AVG,None,None
48,application,COMMONAREA_AVG,107895,3271,248360,0.302859,0.030317,float64,Normalized information about building where th...,normalized,COMMONAREA,AVG,None,None,None
49,application,ELEVATORS_AVG,167175,266,189080,0.469257,0.001591,float64,Normalized information about building where th...,normalized,ELEVATORS,AVG,None,None,None
50,application,ENTRANCES_AVG,177848,294,178407,0.499215,0.001653,float64,Normalized information about building where th...,normalized,ENTRANCES,AVG,None,None,None
51,application,FLOORSMAX_AVG,179914,414,176341,0.505015,0.002301,float64,Normalized information about building where th...,normalized,FLOORSMAX,AVG,None,None,None
52,application,FLOORSMIN_AVG,115147,318,241108,0.323215,0.002762,float64,Normalized information about building where th...,normalized,FLOORSMIN,AVG,None,None,None
53,application,LANDAREA_AVG,145411,3580,210844,0.408165,0.024620,float64,Normalized information about building where th...,normalized,LANDAREA,AVG,None,None,None
54,application,LIVINGAPARTMENTS_AVG,113276,1917,242979,0.317963,0.016923,float64,Normalized information about building where th...,normalized,LIVINGAPARTMENTS,AVG,None,None,None
55,application,LIVINGAREA_AVG,178353,5272,177902,0.500633,0.029559,float64,Normalized information about building where th...,normalized,LIVINGAREA,AVG,None,None,None
56,application,NONLIVINGAPARTMENTS_AVG,109394,410,246861,0.307067,0.003748,float64,Normalized information about building where th...,normalized,NONLIVINGAPARTMENTS,AVG,None,None,None
57,application,NONLIVINGAREA_AVG,160489,3397,195766,0.450489,0.021167,float64,Normalized information about building where th...,normalized,NONLIVINGAREA,AVG,None,None,None
58,application,APARTMENTS_MODE,176307,770,179948,0.494890,0.004367,float64,Normalized information about building where th...,normalized,APARTMENTS,MODE,None,None,None
59,application,BASEMENTAREA_MODE,148671,3891,207584,0.417316,0.026172,float64,Normalized information about building where th...,normalized,BASEMENTAREA,MODE,None,None,None
60,application,YEARS_BEGINEXPLUATATION_MODE,183392,224,172863,0.514777,0.001221,float64,Normalized information about building where th...,normalized,YEARS,BEGINEXPLUATATION,MODE,None,None
61,application,YEARS_BUILD_MODE,119949,154,236306,0.336694,0.001284,float64,Normalized information about building where th...,normalized,YEARS,BUILD,MODE,None,None
62,application,COMMONAREA_MODE,107895,3215,248360,0.302859,0.029797,float64,Normalized information about building where th...,normalized,COMMONAREA,MODE,None,None,None
63,application,ELEVATORS_MODE,167175,26,189080,0.469257,0.000156,float64,Normalized information about building where th...,normalized,ELEVATORS,MODE,None,None,None
64,application,ENTRANCES_MODE,177848,30,178407,0.499215,0.000169,float64,Normalized information about building where th...,normalized,ENTRANCES,MODE,None,None,None
65,application,FLOORSMAX_MODE,179914,25,176341,0.505015,0.000139,float64,Normalized information about building where th...,normalized,FLOORSMAX,MODE,None,None,None
66,application,FLOORSMIN_MODE,115147,25,241108,0.323215,0.000217,float64,Normalized information about building where th...,normalized,FLOORSMIN,MODE,None,None,None
67,application,LANDAREA_MODE,145411,3621,210844,0.408165,0.024902,float64,Normalized information about building where th...,normalized,LANDAREA,MODE,None,None,None
68,application,LIVINGAPARTMENTS_MODE,113276,749,242979,0.317963,0.006612,float64,Normalized information about building where th...,normalized,LIVINGAPARTMENTS,MODE,None,None,None
69,application,LIVINGAREA_MODE,178353,5382,177902,0.500633,0.030176,float64,Normalized information about building where th...,normalized,LIVINGAREA,MODE,None,None,None
70,application,NONLIVINGAPARTMENTS_MODE,109394,178,246861,0.307067,0.001627,float64,Normalized information about building where th...,normalized,NONLIVINGAPARTMENTS,MODE,None,None,None
71,application,NONLIVINGAREA_MODE,160489,3432,195766,0.450489,0.021385,float64,Normalized information about building where th...,normalized,NONLIVINGAREA,MODE,None,None,None
72,application,APARTMENTS_MEDI,176307,1163,179948,0.494890,0.006596,float64,Normalized information about building where th...,normalized,APARTMENTS,MEDI,None,None,None
73,application,BASEMENTAREA_MEDI,148671,3821,207584,0.417316,0.025701,float64,Normalized information about building where th...,normalized,BASEMENTAREA,MEDI,None,None,None
74,application,YEARS_BEGINEXPLUATATION_MEDI,183392,250,172863,0.514777,0.001363,float64,Normalized information about building where th...,normalized,YEARS,BEGINEXPLUATATION,MEDI,None,None
75,application,YEARS_BUILD_MEDI,119949,151,236306,0.336694,0.001259,float64,Normalized information about building where th...,normalized,YEARS,BUILD,MEDI,None,None
76,application,COMMONAREA_MEDI,107895,3289,248360,0.302859,0.030483,float64,Normalized information about building where th...,normalized,COMMONAREA,MEDI,None,None,None
77,application,ELEVATORS_MEDI,167175,46,189080,0.469257,0.000275,float64,Normalized information about building where th...,normalized,ELEVATORS,MEDI,None,None,None
78,application,ENTRANCES_MEDI,177848,46,178407,0.499215,0.000259,float64,Normalized information about building where th...,normalized,ENTRANCES,MEDI,None,None,None
79,application,FLOORSMAX_MEDI,179914,49,176341,0.505015,0.000272,float64,Normalized information about building where th...,normalized,FLOORSMAX,MEDI,None,None,None
80,application,FLOORSMIN_MEDI,115147,47,241108,0.323215,0.000408,float64,Normalized information about building where th...,normalized,FLOORSMIN,MEDI,None,None,None
81,application,LANDAREA_MEDI,145411,3618,210844,0.408165,0.024881,float64,Normalized information about building where th...,normalized,LANDAREA,MEDI,None,None,None
82,application,LIVINGAPARTMENTS_MEDI,113276,1119,242979,0.317963,0.009879,float64,Normalized information about building where th...,normalized,LIVINGAPARTMENTS,MEDI,None,None,None
83,application,LIVINGAREA_MEDI,178353,5360,177902,0.500633,0.030053,float64,Normalized information about building where th...,normalized,LIVINGAREA,MEDI,None,None,None
84,application,NONLIVINGAPARTMENTS_MEDI,109394,231,246861,0.307067,0.002112,float64,Normalized information about building where th...,normalized,NONLIVINGAPARTMENTS,MEDI,None,None,None
85,application,NONLIVINGAREA_MEDI,160489,3419,195766,0.450489,0.021304,float64,Normalized information about building where th...,normalized,NONLIVINGAREA,MEDI,None,None,None
86,application,FONDKAPREMONT_MODE,113163,4,243092,0.317646,0.000035,object,Normalized information about building where th...,normalized,FONDKAPREMONT,MODE,None,None,None
87,application,HOUSETYPE_MODE,178339,3,177916,0.500594,0.000017,object,Normalized information about building where th...,normalized,HOUSETYPE,MODE,None,None,None
88,application,TOTALAREA_MODE,185200,5191,171055,0.519852,0.028029,float64,Normalized information about building where th...,normalized,TOTALAREA,MODE,None,None,None
89,application,WALLSMATERIAL_MODE,176021,7,180234,0.494087,0.000040,object,Normalized information about building where th...,normalized,WALLSMATERIAL,MODE,None,None,None
90,application,EMERGENCYSTATE_MODE,188291,2,167964,0.528529,0.000011,object,Normalized information about building where th...,normalized,EMERGENCYSTATE,MODE,None,None,None

## Help tables

**`APPLICATION`**

Caractéristiques :
* $356\,255$ enregistrements.
* $122$ variables, dont $1$ **`SK`**, $28$ **`FLAG`**, $6$ **`NAME`**, $5$ **`DAYS`**, $2$ **`CNT`**, $10$ **`AMT`**, ...

**`BUREAU`**

Caractéristiques :
* $1\,716\,428$ enregistrements.
* $17$ variables, dont $2$ **`SK`**, $4$ **`DAYS`**, $1$ **`CNT`**, $6$ **`AMT`**, $4$ **`CREDIT`**

**`BUREAU_BALANCE`**

Caractéristiques :
* $27\,299\,925$ enregistrements.
* $3$ variables, dont $1$ **`SK`**, $1$ **`STATUS`**, $1$ **`MONTHS`**
* Aucun NA.

Cette table détaille, mois par mois, sur 97 mois, l'état des retards (éventuels) de paiement.

$54\,\%$ des clients sont ainsi suivis en détail, un degré de défaut de paiment.

**`PREVIOUS_APPLICATION`**

Caractéristiques :
* $1\,670\,214$ enregistrements.
* $37$ variables, dont $2$ **`SK`**, $3$ **`(N)FLAG`**, $11$ **`NAME`**, $6$ **`DAYS`**, $1$ **`CNT`**, $5$ **`AMT`**, ...

**`POS_CASH_balance`**

Caractéristiques :
* $10\,001\,358$ enregistrements.
* $8$ variables, dont $4$ **`SK`**, $1$ **`NAME`**, $2$ **`CNT`**, $1$ **`MONTHS`**

**`CREDIT_CARD_BALANCE`**

Caractéristiques :
* $3\,840\,312$ enregistrements.
* $23$ variables, dont $4$ **`SK`**, $1$ **`NAME`**, $5$ **`CNT`**, $12$ **`AMT`**, $1$ **`MONTHS`**

**`INSTALLMENTS_PAYMENTS`**

Caractéristiques principales :
* $13\,605\,401$ enregistrements.
* $8$ variables, dont $2$ **`SK`**, $2$ **`DAYS`**, $2$ **`NUM`**, $2$ **`AMT`**

Création de la table d'information sur les tables

In [53]:
import pandas as pd

table_descs = pd.DataFrame.from_records([
    [
        "application", "demande",
        "This is the main table, broken into two files for Train (with `TARGET`) and Test (without `TARGET`)."
        "Static data for all applications. One row represents one loan in our data sample.",
        "C'est la table principale, divisée en deux fichiers pour l'entraînement (avec `TARGET`) et le test (sans `TARGET`)."
        "Données statiques pour toutes les demandes de prêts. Une ligne représente un prêt dans notre échantillon de données."
    ],
    [
        "bureau", "bureau",
        "All client's previous credits provided by other financial institutions that were reported to Credit Bureau (for clients who have a loan in our sample)."
        "For every loan in our sample, there are as many rows as number of credits the client had in Credit Bureau before the application date.",
        "Tous les précédents crédits des clients fournis par d'autres institutions financières qui ont été signalés au bureau de crédit (pour les clients qui ont un prêt dans notre échantillon)."
        "Pour chaque prêt dans notre échantillon, il y a autant de lignes que le nombre de crédits que le client avait dans le bureau de crédit avant la date de la demande."
    ],
    [
        "bureau_balance", "bureau_balance",
        "Monthly balances of previous credits in Credit Bureau."
        "This table has one row for each month of history of every previous credit reported to Credit Bureau – i.e the table has (#loans in sample * # of relative previous credits * # of months where we have some history observable for the previous credits) rows.",
        "Soldes mensuels des précédents crédits signalés au bureau de crédit."
        "Cette table a une ligne pour chaque mois de l'historique de chaque crédit précédent signalé au bureau de crédit - c'est-à-dire que la table a (# prêts dans l'échantillon * # de crédits précédents relatifs * # de mois où nous avons une historique observable pour les crédits précédents) de lignes."
    ],
    [
        "previous_application", "previous_application",
        "All previous applications for Home Credit loans of clients who have loans in our sample."
        "There is one row for each previous application related to loans in our data sample.",
        "Toutes les précédentes demandes de prêt Home Credit des clients qui ont des prêts dans notre échantillon."
        "Il y a une ligne pour chaque demande précédente liée aux prêts dans notre échantillon de données."
    ],
    [
        "pos_cash_balance", "pos_cash_balance",
        "Monthly balance snapshots of previous POS (point of sales) and cash loans that the applicant had with Home Credit."
        "This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credits * # of months in which we have some history observable for the previous credits) rows.",
        "Instantanés de solde mensuel des prêts antérieurs en points de vente (POS) et en espèces que le demandeur avait avec Home Credit."
        "Cette table a une ligne pour chaque mois d'historique de chaque crédit précédent chez Home Credit (crédit à la consommation et prêts en espèces) lié aux prêts dans notre échantillon - c'est-à-dire que la table a (# de prêts dans l'échantillon * # de crédits précédents relatifs * # de mois pour lesquels nous avons un historique observable pour les crédits précédents) de lignes."
    ],
    [
        "credit_card_balance", "credit_card_balance",
        "Monthly balance snapshots of previous credit cards that the applicant has with Home Credit."
        "This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credit cards * # of months where we have some history observable for the previous credit card) rows.",
        "Instantanés mensuels des soldes des précédentes cartes de crédit que le demandeur a avec Home Credit."
        "Cette table a une ligne pour chaque mois de l'historique de chaque crédit précédent de cartes de crédit à Home Credit (crédit à la consommation et prêts en espèces) relatifs aux prêts dans notre échantillon - c'est-à-dire que la table a (# prêts dans l'échantillon * # de cartes de crédit précédentes relatives * # de mois où nous avons une historique observable pour la carte de crédit précédente) de lignes."
    ],
    [
        "installments_payments", "installments_payments"
        "Repayment history for the previously disbursed credits in Home Credit related to the loans in our sample."
        "There is a) one row for every payment that was made plus b) one row each for missed payment."
        "One row is equivalent to one payment of one installment OR one installment corresponding to one payment of one previous Home Credit credit related to loans in our sample.",
        "Historique de remboursement pour les crédits précédemment accordés par Home Credit liés aux prêts dans notre échantillon."
        "Il y a a) une ligne pour chaque paiement effectué et b) une ligne pour chaque paiement manqué."
        "Une ligne correspond à un paiement d'une échéance ou à une échéance correspondant à un paiement pour un crédit Home Credit précédent lié aux prêts dans notre échantillon."
    ]
], columns=pd.Index([("Table", "en_EN"), ("Table", "fr_FR"), ("Definition", "en_EN"), ("Definition", "fr_FR")]))

display(table_descs)

                   Table
                   en_EN                                              fr_FR
0            application                                            demande  \
1                 bureau                                             bureau
2         bureau_balance                                     bureau_balance
3   previous_application                               previous_application
4       pos_cash_balance                                   pos_cash_balance
5    credit_card_balance                                credit_card_balance
6  installments_payments  installments_paymentsRepayment history for the...

                                          Definition
                                               en_EN
0  This is the main table, broken into two files ...  \
1  All client's previous credits provided by othe...
2  Monthly balances of previous credits in Credit...
3  All previous applications for Home Credit loan...
4  Monthly balance snapshots of previous POS (poi...
5  Monthly balance snapshots of previous credit c...
6  Historique de remboursement pour les crédits p...


                                               fr_FR
0  C'est la table principale, divisée en deux fic...
1  Tous les précédents crédits des clients fourni...
2  Soldes mensuels des précédents crédits signalé...
3  Toutes les précédentes demandes de prêt Home C...
4  Instantanés de solde mensuel des prêts antérie...
5  Instantanés mensuels des soldes des précédente...
6                                               None

In [56]:
from pepper.env import get_tmp_dir
import os
table_descs_path = os.path.join(get_tmp_dir(), "table_descs.pqt")
table_descs.to_parquet(table_descs_path, engine="pyarrow", compression="gzip")

In [57]:
from pepper.env import get_tmp_dir
import os
table_descs_path = os.path.join(get_tmp_dir(), "table_descs.pqt")
table_descs = pd.read_parquet(table_descs_path, engine="pyarrow")
display(table_descs)

                   Table
                   en_EN                                              fr_FR
0            application                                            demande  \
1                 bureau                                             bureau
2         bureau_balance                                     bureau_balance
3   previous_application                               previous_application
4       pos_cash_balance                                   pos_cash_balance
5    credit_card_balance                                credit_card_balance
6  installments_payments  installments_paymentsRepayment history for the...

                                          Definition
                                               en_EN
0  This is the main table, broken into two files ...  \
1  All client's previous credits provided by othe...
2  Monthly balances of previous credits in Credit...
3  All previous applications for Home Credit loan...
4  Monthly balance snapshots of previous POS (poi...
5  Monthly balance snapshots of previous credit c...
6  Historique de remboursement pour les crédits p...


                                               fr_FR
0  C'est la table principale, divisée en deux fic...
1  Tous les précédents crédits des clients fourni...
2  Soldes mensuels des précédents crédits signalé...
3  Toutes les précédentes demandes de prêt Home C...
4  Instantanés de solde mensuel des prêts antérie...
5  Instantanés mensuels des soldes des précédente...
6                                               None